:root {
  --color-primary: #330236;
  --color-primary-pair: #C9463D;
  --color-secondary: #5E1742;
  --color-secondary-pair: #962E40;
  --color-focus-page: #FF5E35;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #707070;

  --font-primary: futura-pt, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1,
h2 {
  color: --color-white: #FFFFFF;
  font-family: --font-primary: futura-pt, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}

h3,
blockquote,
cite {
  color: --color-white: #FFFFFF;
  font-family: --font-primary: futura-pt, sans-serif;
  font-weight: bold;
}

h4 {
  color: --color-black: #000000;
  font-family: --font-primary: futura-pt, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}

h5 {
  color: --color-black: #000000;
  font-family: --font-primary: futura-pt, sans-serif;
  font-weight: bold;
}

h6 {
  color: --color-black: #000000;
  font-family: --font-primary: futura-pt, sans-serif;
  font-weight: normal;
}

p {
  color: --color-white: #FFFFFF;
  font-family: --font-primary: futura-pt, sans-serif;
  font-weight: normal;
}

a {
  color: --color-white: #FFFFFF;
  font-family: --font-primary: futura-pt, sans-serif;
  font-weight: bold;
  font-variant: small-caps;
}

ul li,
ol li,
dl dt {
  list-style-type: none;
  color: --color-white: #FFFFFF;
  font-family: --font-primary: futura-pt, sans-serif;
  font-weight: bold;
}

dd {
  list-style-type: none;
  color: --color-black: #000000;
  font-family: --font-primary: futura-pt, sans-serif;
  font-weight: bold;
}

small {
  color: --color-white: #FFFFFF;
  font-family: --font-primary: futura-pt, sans-serif;
  font-weight: normal;
}
