:root {
  --color-primary: #330236;
  --color-primary-pair: #C9463D;
  --color-primary-opacity: rgba(201, 70, 61, .5);
  --color-secondary: #5E1742;
  --color-secondary-pair: #962E40;
  --color-secondary-opacity: rgba(150, 46, 64, .5);
  --color-tertiary: #962E40;
  --color-tertiary-pair: #5E1742;
  --color-tertiary-opacity: rgba(94, 23, 66, .5);
  --color-quaternary-pair: #C9463D;
  --color-quaternary-pair: #330236;
  --color-quaternary-opacity: rgba(51, 2, 54, .5);
  --color-focus-page: #FF5E35;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #707070;

  --font-primary: futura-pt, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1,
h2 {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-variant: small-caps;
  font-weight: bold;
}

h3,
blockquote,
cite {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: bold;
}

h4 {
  color: var(--color-black);
  font-family: var(--font-primary);
  font-variant: small-caps;
  font-weight: bold;
}

h5 {
  color: var(--color-black);
  font-family: var(--font-primary);
  font-weight: bold;
}

h6 {
  color: var(--color-black);
  font-family: var(--font-primary);
  font-weight: normal;
}

p {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: normal;
}

a {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: bold;
  font-variant: small-caps;
}

ul li,
ol li,
dl dt {
  list-style-type: none;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: normal;
}

dd {
  list-style-type: none;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: bold;
}

small {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-weight: normal;
}

mark {
  background-color: var(--color-focus-page);
  font-family: var(--font-primary);
  font-weight: normal;
}

em,
strong,
del,
ins,
abbr,
dfn,
i,
b,
s,
u {
  color: var(--color-white);
  font-family: var(--font-primary);
}
