<section class="max-length">
  <div class="carousel">
    {% for page in (0..3) %}
      <input class="carousel-input" type="radio" name="mammals" id="carousel-control-{{forloop.index}}" {% if forloop.first %}checked{% endif %}>
    {% endfor %}

    <div class="carousel-inner relative">
      <div class="carousel-items">
        {% for page in (0..3) %}
          <div class="carousel-item" id="carousel-{{forloop.index}}">
            <div class="grid">
              {% assign page_offset = page|times:8 %}
              {% for product in site.products limit:8 offset:page_offset %}
                <div class="unit xs-1-2 s-1-2 m-1-4 l-1-4 xl-1-4 island">
                  {% pattern cards/tea-card data=product %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>

      <ul class="carousel-controls list-group-inline w-1 text-center push-0 island-1-2">
        {% for page in (0..3) %}
          <li>
            <label class="carousel-btn icon i-18 ir" for="carousel-control-{{forloop.index}}">Carousel page {{forloop.index}}</label>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</section>
