<div class="bg-section-green">
  <h2 class="gutter pad-t push-0">
    <i class="icon i-24"><svg><use xlink:href="/images/icons.svg#green-negative"></use></svg></i>
    <span class="greenline">|</span> Green Tea
  </h2>
  <div class="grid">
    {% for product in site.products %}
      {% if product.brief contains 'Green' %}
        <div class="unit xs-1-2 s-1-2 m-1-4 l-1-4 xl-1-4 island">
          {% pattern cards/tea-card data=product %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
